<% if flash[:alert] %>
  <div class="alert alert-success">
    <%= flash[:alert] %>
  </div>
<% end %>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.skills.any? %>
      <h3>Skills (<%= @user.skills.count %>)</h3>
      <ol class="skills">
        <%= render @skills %>
      </ol>
    <% end %>
    <br>
    <% if @followers_of_this_user.include?(params[:id].to_i) || params[:id].to_i == current_user.id %>
      <section>
        <%= render 'shared/skill_form' %>
      </section>
    <% end %>
  </div>
</div>