<li id="skill-<%= skill.id %>">
	<span class="user"><%= link_to skill.user.name, skill.user %></span>
	<span class="content"><%= skill.name %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(skill.created_at) %>ago.
	</span>
	<% if current_user?(skill.user) %>
		<%= link_to "delete", skill, method: :delete, data: {confirm: "削除しますか？"} %>
	<% end %>
</li>